.cart {
  height: 100%;

  &-shopping-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-no-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
