.card {
  &-container {
    height: 180px;
    width: 300px;
    position: relative;
    cursor: pointer;
    margin: 4px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #f5f1f1;

    &:hover {
      .card-container_text_title {
        bottom: 40px;
      }

      .card-container_text_description {
        visibility: visible;
        opacity: 1;
        height: 30px;
      }
    }

    &_img {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 180px;
      }
    }

    &_text {
      position: absolute;
      bottom: 0;
      background: rgba(141, 140, 140, 0.5);
      color: #343131;
      width: 100%;

      &_title {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 12px;
        font-weight: bold;
      }

      &_description {
        visibility: hidden;
        opacity: 0;
        transition: height 1s, opacity 1s, visibility 1s linear;
        display: flex;
        flex-direction: column;
        height: 0;
        padding: 0 8px;
        overflow: hidden;
        box-sizing: border-box;

        span {
          background: content-box;
          padding: 2px;

          .star {
            color: #efb908;
          }
        }
      }
    }
  }
}
