.footer {
  height: 80px;
  width: 100%;
  background: #b1c9c2;

  &-pagination {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      cursor: pointer;
    }

    .selected {
      background: #8097bb;
    }

    &-page {
      background: #7d8a9f;
      padding: 14px 18px;
      margin: 6px;
      border-radius: 24px;
      cursor: pointer;
    }
  }
}
