.dialog-container {
  .mat-mdc-dialog-content {
    .description {
      font-size: 18px;
      margin: 20px;
    }

    .comments {
      height: 300px;
      overflow-y: scroll;
      font-size: 14px;

      .comment {
        margin: 20px;
        padding: 20px;
        border-radius: 4px;
        background: #e9e4ec;
      }
    }
  }
  .mat-mdc-dialog-actions {
    display: flex;
    justify-content: space-between;

    .add {
      background: yellowgreen;
    }
  }
}
